//Dom
//luis
#include<iostream>
#include<Windows.h>
#include<string>
#include<random>
#include<iomanip>
#include <cstdlib>
#include <ctime>

using namespace std;
                 
 int board[4][4] = {1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8};

string character, line;


void DrawBoard()//CALLS FUNCTION TO DRAW THE BOARD FOR THE Memory Game
{
	HANDLE h = GetStdHandle(STD_OUTPUT_HANDLE);
	SetConsoleTextAttribute(h, FOREGROUND_BLUE | FOREGROUND_INTENSITY);

	line.assign(25, '-');
	character.assign(13, '*');
	cout << "Memory Game" << endl;
	cout << character << endl;

	for (int r = 0; r < 4; r++)
	{
		for (int c = 0; c < 4; c++)
		{
			
			cout << setw(5) << board[r][c]  << "|";
		}
		cout << " \n" << line << endl;
	}

	system("pause");
	system("cls");

	//timer here

	
}
/*
void playerinput()
{
	int character1,character2;
	cout << "Enter a number from the board: ";
	cin >> character1;
	cout << "Enter another number from the board ";
	cin >> character2;
		if(character1 == 1)
		{
			if()
			{

			}


		}

}
*/

int main()
{
	DrawBoard();
    

	system("pause");
	return 0;
}


Source.cpp
Open with
Displaying Source.cpp.
